USE [master]
GO
/****** Object:  Database [NtqLesson11Dbs]    Script Date: 01/07/2024 6:15:00 CH ******/
CREATE DATABASE [NtqLesson11Dbs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NtqLesson11Dbs', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\NtqLesson11Dbs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NtqLesson11Dbs_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\NtqLesson11Dbs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NtqLesson11Dbs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NtqLesson11Dbs]
GO
/****** Object:  Table [dbo].[NtqTaiKhoan]    Script Date: 01/07/2024 6:15:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NtqTaiKhoan](
	[NtqId] [int] NOT NULL,
	[NtqUserName] [nvarchar](50) NULL,
	[NtqPassword] [nvarchar](50) NULL,
	[NtqFullName] [nvarchar](50) NULL,
	[NtqAge] [int] NULL,
	[NtqEmail] [nvarchar](50) NULL,
	[NtqPhone] [nvarchar](50) NULL,
	[NtqStatus] [bit] NULL,
 CONSTRAINT [PK_NtqTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[NtqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NtqTaiKhoan] ([NtqId], [NtqUserName], [NtqPassword], [NtqFullName], [NtqAge], [NtqEmail], [NtqPhone], [NtqStatus]) VALUES (1, N'NguyenTrungQuoc', N'123456', N'Nguyễn Trung Quốc', 20, N'trungquock102@gmail.com', N'21312378', 1)
GO
USE [master]
GO
