@{
    ViewBag.Title = "Nguyễn Trung Quốc";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài thi giữa kì của NTQ </h3>

    <address>
        K22CNT1 - Môn lập trình ứng dụng web với công nghệ MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:trungquock102@gmail.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:trungquock102@gmail.com">Marketing@example.com</a>
    </address>
</main>