USE [master]
GO
/****** Object:  Database [Quoc_2210900119]    Script Date: 11/07/2024 8:03:53 CH ******/
CREATE DATABASE [Quoc_2210900119]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quoc_2210900119', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quoc_2210900119.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quoc_2210900119_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quoc_2210900119_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quoc_2210900119].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quoc_2210900119]
GO
/****** Object:  Table [dbo].[NTQ_SACH]    Script Date: 11/07/2024 8:03:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTQ_SACH](
	[Ntq_MaSach] [char](10) NOT NULL,
	[Ntq_TenSach] [nvarchar](50) NULL,
	[Ntq_SoTrang] [int] NULL,
	[Ntq_NamXB] [int] NULL,
	[Ntq_MaTG] [nchar](10) NULL,
	[Ntq_TrangThai] [bit] NULL,
 CONSTRAINT [PK_NTQ_SACH] PRIMARY KEY CLUSTERED 
(
	[Ntq_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NTQ_TACGIA]    Script Date: 11/07/2024 8:03:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTQ_TACGIA](
	[Ntq_MaTG] [nchar](10) NOT NULL,
	[Ntq_TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_NTQ_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Ntq_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NTQ_SACH] ([Ntq_MaSach], [Ntq_TenSach], [Ntq_SoTrang], [Ntq_NamXB], [Ntq_MaTG], [Ntq_TrangThai]) VALUES (N'1         ', N'Harry Potter', 500, 2000, N'N01       ', 1)
GO
INSERT [dbo].[NTQ_TACGIA] ([Ntq_MaTG], [Ntq_TenTG]) VALUES (N'N01       ', N'JK')
GO
ALTER TABLE [dbo].[NTQ_SACH]  WITH CHECK ADD  CONSTRAINT [FK_NTQ_SACH_NTQ_TACGIA] FOREIGN KEY([Ntq_MaTG])
REFERENCES [dbo].[NTQ_TACGIA] ([Ntq_MaTG])
GO
ALTER TABLE [dbo].[NTQ_SACH] CHECK CONSTRAINT [FK_NTQ_SACH_NTQ_TACGIA]
GO
USE [master]
GO
